@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section Header {
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")" id="loginLink">
                <img class="main-logo" src="~/Assets/Pictures/logo.png" alt="logo-inicio" />
            </a>
            <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <div class="my-2">
                    @Html.ActionLink("Registrarse", "Register", "Home", null, new { @class = "btn btn-info text-white" })
                    @Html.ActionLink("Iniciar sesión", "Login", "Home", null, new { @class = "btn btn-primary text-white" })
                </div>
            </div>
        </div>
    </nav>
}

@RenderBody()

