<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Styles/styles.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <img class="position-absolute background-picture" src="~/Assets/Pictures/fondo-edificio.png" alt="Alternate Text" />
    <div class="d-flex flex-column h-100 justify-content-center">
        @RenderSection("Header", true);
        <div class="container body-content flex-grow-1">
            @RenderBody()
        </div>
        @{Html.RenderPartial("_pv_Footer");}
    </div>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>