
@{
    ViewBag.Title = "Error";
    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LogueadoLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
    }
}


<div class="bg-white p-5 rounded">
    <h2>Error</h2>

    <h3>@ViewBag.Description</h3>
</div>


