
@{
    ViewBag.Title = "Home";
}

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h1>Sistema para la Administracion de Consorcios</h1>

<ul>
    <li><a href="#">Ingresar</a></li>
    <li><a href="#">Registrarse</a></li>
</ul>